 @import 'shared/constants/styles/breakpoints';

 h2 {
   margin-top: 30px;
   font-size: 30px;

   @media (min-width: $breakpoint_md) {
     font-size: 36px;
   }

   @media (min-width: $breakpoint_lg) {
     font-size: 42px;
   }

   @media (min-width: $breakpoint_xl) {
     font-size: 36px;
   }
 }

 //  .wrapper {
 //    position: relative;
 //    width: 100%;
 //    margin: 0 auto;
 //    padding: 30px 15px;
 //    max-width: 1100px;
 //  }

 .mySwiper {
   padding-top: 20px !important;
 }

 .swiper_button_prev_custom,
 .swiper_button_next_custom {
   background: rgba(0, 0, 0, 0.7);
   border-radius: 50%;
   border: none;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   width: 55x;
   height: 55px;
   z-index: 100;
   cursor: pointer;
   transition: fill 0.3s ease, transform 0.3s ease;
   transform-origin: center center;

   @media (min-width: $breakpoint_xl) {
     width: 100px;
     height: 100px;
   }

   &:hover {
     transform: scale(1.2);
   }

   svg {
     width: 100%;
     height: 100%;
     stroke: #ccd2e3;
     transform-origin: center;

     &:hover {
       transform: scale(1.2);
       stroke: #ffffff;
     }
   }
 }

 .swiper_button_next_custom {
   right: 15px;
 }

 .swiper_button_prev_custom {
   left: 15px;
 }

 .similarMovies {
   max-width: 1500px;
   margin: 0 auto;
   padding: 0 20px;
 }