.wrapper {
  position: relative;

  width: 100%;
  margin: 0 auto;


}

.swiper_button_next_custom {

  right: 10px;
}

.swiper_button_prev_custom {

  left: 10px;
}

.swiper_button_prev_custom,
.swiper_button_next_custom {
  display: none;
  position: absolute;
  top: 30%;
  width: 30px;
  height: 30px;
  z-index: 10;


}