.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.mySwiper {
  padding-top: 100px !important;
}

.swiper_button_next_custom {
  right: 10px;
}

.swiper_button_prev_custom {
  left: 10px;
}

.swiper_button_prev_custom,
.swiper_button_next_custom {
  background-color: transparent;
  /* Устанавливаем прозрачный цвет фона */
  border: none;
  /* Убираем границу */
  display: block;
  position: absolute;
  top: 0px;
  width: 30px;
  height: 30px;
  z-index: 100;
}