@import 'styles/breakpoints.scss';

.filmPage{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;

    @media (min-width: $breakpoint_md) {
      padding: 30px 15px;
    }

    @media (min-width: $breakpoint_lg) {
      padding: 40px 30px;
    }

    @media (min-width: $breakpoint_xl) {
      padding: 50px 40px;
    }
}