.app {
  // font-family: var(--font-family);  
  font-size: 40px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--color);
  background: var(--bg-color);
  padding-top: 80px; 
}

// .swiper-pagination-bullet {
//   width: 10px !important;
//   height: 10px !important;
//   border-radius: 50%;
//   background-color:violet !important;
//   background:violet !important;  
//   margin: 0 5px !important;
//   cursor: pointer !important;
//   opacity: 0.2;
// }

// /* Стили для активной точки пагинации */
// .swiper-pagination-bullet.swiper-pagination-bullet-active {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   opacity: 1;
//   margin: 0 5px;
//   cursor: pointer;
// }