@import 'shared/constants/styles/breakpoints';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  padding: 0 15px;
  background: orange;
  background: #4B0082;
  background: #665474;
  background: #361d50;
  --bg-color: #655b8b;
  --bg-color: #7660C7 ;
  --bg-color: #544784 ;
  --bg-color: #3a305f ;
  --bg-color: #4d4371 ;
  --bg-color: #645e79 ;
  --bg-color: #5a5176 ;
  --bg-color: #746998 ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-size: 30px;

  @media (min-width: $breakpoint_lg) {
    padding: 0 30px;
    font-size: 40px;
  }

  @media (min-width: $breakpoint_xl) {
    padding: 0 40px;
    font-size: 46px;
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  white-space: nowrap; /* Это предотвратит перенос текста на новую строку */
}